/*Custom Menu*/

#menu_wrap2 {
    position:absolute;
    height: 90%;
    top: 100%;
    left:0;
    width:270px;
    margin:10px 0 30px 10px;
    padding:5px;
    overflow-y:auto;
    background:rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size:12px;
    border-radius: 10px;
}

body.marker-cursor {
    cursor: url('http://t1.daumcdn.net/mapjsapi/images/marker.png') 16 32, auto;
}

#menu_wrap2 .custommenu {font-weight: 600; font-size: 14px;}
#menu_wrap2 hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap2 .option{text-align: center;}
#menu_wrap2 .option p {margin:10px 0;}  
#menu_wrap2 .option button {margin-left:5px;}

#menu_wrap2 .search-keyword {
    text-align: center;
    margin-bottom: 5px;
}

#menu_wrap2 .search-email {
    text-align: center;
    margin-bottom: 5px;
}

#menu_wrap2 .search-category {
    text-align: center;
    margin-bottom: 5px;
}

#menu_wrap2 .search-my-markers-only {
    text-align: center;
    margin-bottom: 5px;
}

#placesList2 li {list-style: none;}
#placesList2 .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList2 .item span {display: block;margin-top:4px;}
#placesList2 .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList2 .item .info{padding:10px 0 10px 55px;}
#placesList2 .info .gray {color:#8a8a8a;}
#placesList2 .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList2 .info .tel {color:#009900;}
#placesList2 .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList2 .item .marker_1 {background-position: 0 -10px;}
#pagination2 {margin:10px auto;text-align: center;}
#pagination2 a {display:inline-block;margin-right:10px;}
#pagination2 .on {font-weight: bold; cursor: default;color:#777;}